*~
Configuration/plotstuff
Configuration/TODO
Configuration/plot_array.py
Configuration/plotstuff
Configuration/mymap.html
Configuration/arecibo
Configuration/bla
Configuration/effelsberg
Configuration/fast_a
Configuration/fast_ska.gp
Configuration/parkes
Configuration/pulsarFoMlog.pdf
Configuration/ska_fast_comparison
Configuration/AntennaLocationSummary_2013.xlsx
Sensitivity/sens_notes
Sensitivity/SKA_Tsky.txt
Sensitivity/atm-to-am.awk
Sensitivity/FC1.csv
Sensitivity/FC1.xlsx
Sensitivity/bigplot.p*
Sensitivity/fomplot.p*
Sensitivity/NOTES
Sensitivity/fast_robert
Sensitivity/ugmrt
Sensitivity/Band2_PSR*
Sensitivity/tyler*
**/.DS_Store
